<a routerLink="main"></a>

<!-- <input type="file" (change)="onFileSelected($event)" />
<input #box1 type="text" />
<input #box2 type="text" />
<button (click)="onEnter(box1.value, box2.value)">Click</button>
<p>hasil : {{ numberInput }}</p> -->
<link
  rel="stylesheet"
  href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
  type="text/css"
/>
<div id="sidebar">
  <div class="container">
    <h1 class="text-center mb-4">Sidebar</h1>
    <div class="mb-1">
      <label class=""><h5>Input File</h5></label>
      <input type="file" accept=".json" (change)="onFileSelected($event)" />
      <div class="form-text">Hanya menerima input file bertipe .json</div>
    </div>
    <div class="mb-1">
      <label class=""><h5>ID Titik Asal</h5></label>
      <input #Asal type="text" />
    </div>
    <div class="mb-3">
      <label class=""><h5>ID Titik Tujuan</h5></label>
      <input #Tujuan type="text" />
      <div class="form-text">
        ID harus tepat, jika ID tidak ditemukan pada file JSON maka program akan
        Error
      </div>
    </div>
    <div class="mb-1">
      <label class=""><h5>Pilihan Algoritma</h5></label>
      <div class="mb-0">
        <label>
          <input
            type="radio"
            name="Algorithm"
            value="UCS"
            (change)="onAlgoChanged($event)"
          />
          UCS
        </label>
      </div>
      <div class="mb-3">
        <label>
          <input
            type="radio"
            name="Algorithm"
            value="A*"
            (change)="onAlgoChanged($event)"
          />
          A*
        </label>
      </div>
    </div>
    <!-- <button class="btn btn-primary" (click)="> -->
    <button class="btn btn-primary" (click)="onEnter(Asal.value, Tujuan.value)">
      Submit
    </button>
    <button class="btn btn-primary" (click)="showRoute()">Route</button>
  </div>
</div>

<!-- Mainbar -->
<div id="mainbar">
  <div class="container">
    <h5 class="text-center mb-4">Mainbar</h5>
    <div class="solutionContainer">
      <div id="map" class="map"></div>
    </div>
    <div class="result">
      <div class="route">
        <h5>Rute : {{ RouteView }}</h5>
      </div>
      <div class="dist">
        <h5>Jarak Tempuh : {{ RouteDistance }} m</h5>
      </div>
    </div>
  </div>
</div>
