<a routerLink="/"></a>

<link
  rel="stylesheet"
  href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
  type="text/css"
/>
<div id="sidebar">
  <div class="container">
    <h2 class="text-center mb-4">INPUT</h2>
    <div class="mb-1">
      <label class=""><h5>Input File</h5></label>
      <input type="file" accept=".json" (change)="onFileSelected($event)" />
      <div class="form-text">Hanya menerima input file bertipe .json</div>
    </div>
    <div class="mb-1">
      <label class=""><h5>ID Titik Asal</h5></label>
      <input #Asal type="text" />
    </div>
    <div class="mb-3">
      <label class=""><h5>ID Titik Tujuan</h5></label>
      <input #Tujuan type="text" />
      <div class="form-text">
        ID harus tepat, jika ID tidak ditemukan pada file JSON maka program akan
        Error
      </div>
    </div>
    <div class="mb-1">
      <label class=""><h5>Pilihan Algoritma</h5></label>
      <div class="mb-0">
        <label>
          <input
            type="radio"
            name="Algorithm"
            value="UCS"
            (change)="onAlgoChanged($event)"
            [checked]="Algorithm === 'UCS'"
          />
          UCS
        </label>
      </div>
      <div class="mb-3">
        <label>
          <input
            type="radio"
            name="Algorithm"
            value="A*"
            (change)="onAlgoChanged($event)"
            [checked]="Algorithm === 'A*'"
          />
          A*
        </label>
      </div>
    </div>
    <!-- <button class="btn btn-primary" (click)="> -->
    <button class="btn btn-primary" (click)="onEnter(Asal.value, Tujuan.value)">
      Submit
    </button>
    <div class="form-text mb-3">
      Jika inputan sudah lengkap, Submit untuk mendapatkan rute dan gambar graf
      pada peta
    </div>
    <div class="mb-1">
      <button class="btn btn-primary" (click)="showRoute()">Route</button>
    </div>
    <div class="form-text">
      Klik ketika gambar graf sudah terlihat, untuk melihat gambaran rute
      perjalanan anda
    </div>
  </div>
</div>

<!-- Mainbar -->
<div id="mainbar">
  <div class="container">
    <h2 class="mb-3">
      Implementasi Algoritma UCS dan A* untuk Menentukan Lintasan Terpendek
    </h2>
    <div class="solutionContainer">
      <div id="map" class="map"></div>
    </div>
    <div class="result">
      <div class="route mt-4">
        <h5>Rute : {{ RouteView }}</h5>
      </div>
      <div class="dist mt-5">
        <h5>Jarak Tempuh : {{ RouteDistance }} meter</h5>
      </div>
    </div>
  </div>
</div>
