/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  background-color: red;
  padding: 20px;
}

/* Mainbar */
#mainbar {
  margin-left: 20vw;
  height: 100vh;
  padding: 20px;
  background-color: aqua;
}

.map {
  width: 100%;
  height: 60vh;
}
