/* Sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  background-color: #a5d7e8;
  padding: 20px;
}

/* Mainbar */
#mainbar {
  margin-left: 20vw;
  height: 100vh;
  padding: 20px;
  background-color: #0b2447;
  color: aliceblue;
}

.map {
  width: 100%;
  height: 60vh;
}

.solutionContainer {
  padding: 10px;
  border: 2px solid;
  border-radius: 25px;
}
